@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.wrapper {
    font-family: "Montserrat";
    background: repeating-linear-gradient(to right, #ffffff 0 10px, #ffebeb 10px 70px, #ffffff 70px 80px);
    width: 960px;
    height: 975px;
    margin: 0 auto;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 960px;
    height: 440px;
    background: repeating-linear-gradient(to right, #ffffff 0 10px, #FFDFDF 10px 70px, #ffffff 70px 80px);
}

header {
    padding: 100px 255px;
}

h1 {
    color: #00C9CC;
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 2.4rem;
}

h6,
h5,
p {
    color: #B3AA89;
}

h1,
h3,
h5,
h6 {
    text-transform: uppercase;
    text-align: center;
}


h5 {
    font-weight: normal;
}

h6 {
    font-weight: bolder;
}

svg {
    height: 66px;
    width: 66px;
}

.topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 440px;
    padding-left: 20px;
    padding-right: 20px;
}

.topic:hover,
.topic:hover p {
    background-color: #00C9CC;
    opacity: 0.7;
    color: #ffffff;
}

.topic:hover path {
    fill: #ffffff;
}